@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* We zetten hier geen harde kleuren meer, we vertrouwen op Tailwind config */
}

body {
  background-color: theme('colors.background');
  color: theme('colors.foreground');
  font-family: theme('fontFamily.sans');
  -webkit-font-smoothing: antialiased;
}

/* De 'Editorial' kopjes */
h1, h2, h3, h4, h5, h6 {
  font-family: theme('fontFamily.serif');
}